{% extends '::base.html.twig' %}

{% block container %}
    <h1>Products</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>is Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.description|length >= 150 %}
                        {{ entity.description|slice(0,15) }}...
                    {% else %}
                        {{ entity.description }}
                    {% endif %}
                </td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.active }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{{ path('product_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                        <a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('product_new') }}" class="btn btn-primary">Create a new Product</a>
{% endblock %}
