<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    <title>{% block title %}Ecommerce{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
        <!-- Custom CSS -->
        <link href="{{ asset('assets/css/shop-homepage.css')}}" rel="stylesheet" />
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% block header %}
        {% include "ApplicationBundle:Templates:header.html.twig" %}
    {% endblock header %}
        
    {% block body %}
        <!-- Page Content -->
        <div class="container">
            {% if app.session.flashbag is not empty %}
            {% for tipo, mensajes in app.session.flashbag.all() %}
                {% for mensaje in mensajes %}
                    {# <p class="flash-{{ tipo }}">{{ mensaje }}</p> #}
                    <div class="alert alert-{{ tipo }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ mensaje }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% endif %}

            {% block container %}
            {% endblock %}
        </div>
        <!-- /.container -->
    {% endblock body %}

    <div class="container">
        <hr>
        {% block footer %}
            {% include "ApplicationBundle:Templates:footer.html.twig" %}
        {% endblock footer %}
    </div>
    <!-- /.container -->

    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('assets/js/jquery.js')}}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
    {% endblock %}

</body>

</html>
