{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">

            <div class="row">
                {#<div class="col-md-3">
                    <p class="lead">Shop Name</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Category 1</a>
                        <a href="#" class="list-group-item">Category 2</a>
                        <a href="#" class="list-group-item">Category 3</a>
                    </div>
                </div>#}

                <div class="col-md-12">
                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">{{ entity.price }} €</h4>
                            <h4><a href="#">{{ entity.name }}</a>
                            </h4>
                            
                            <p>{{ entity.description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">{{ entity.reviews|length }} reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                            {#<p><a href="" class="btn btn-primary">Comprar Ahora</a></p>#}
                            {% if is_granted('ROLE_USER') %}
                                <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Comporar Ahora</button></p>
                            {% else %}
                                <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#errorModal">Comporar Ahora</button></p>
                            {% endif %}
                            
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{entity.name}}</h4>
                                  </div>
                                  <div class="modal-body">
                                    {{ render(controller('EcommerceBundle:CartItem:addToCart', {'productId':entity.id})) }}
                                  </div>
                                  <div class="modal-footer">
                                    {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>#}
                                  </div>
                                </div>
                              </div>
                            </div>


                            <!-- Error Modal -->
                            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">ERROR</h4>
                                  </div>
                                  <div class="modal-body">
                                    <p>Please Register first to buy products.</p>
                                    <p></p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <a href="{{path('fos_user_registration_register')}}" class="btn btn-success">Register Here</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="well">

                        <div class="text-right">
                            <a class="btn btn-success" href="{{path('productreview_new')}}">Leave a Review</a>
                        </div>

                        {% for review in entity.reviews %}
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                {#<span class="glyphicon glyphicon-star-empty"></span>#}
                                Anonymous
                                <span class="pull-right">{{review.created|date('d-m-Y')}}</span>
                                <p>{{review.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>
{% endblock %}
