{% extends '::base.html.twig' %}

{% block container -%}
    <h1>BuyOrder list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Customer</th>
                <th>Customerid</th>
                <th>Customeremail</th>
                <th>Shippingaddress</th>
                <th>Billingaddress</th>
                <th>Totalamount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('buyorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.customer }}</td>
                <td>{{ entity.customerId }}</td>
                <td>{{ entity.customerEmail }}</td>
                <td>{{ entity.shippingAddress }}</td>
                <td>{{ entity.billingAddress }}</td>
                <td>{{ entity.totalAmount }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('buyorder_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('buyorder_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('buyorder_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
