{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BuyOrder</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ entity.customer }}</td>
            </tr>
            <tr>
                <th>Customerid</th>
                <td>{{ entity.customerId }}</td>
            </tr>
            <tr>
                <th>Customeremail</th>
                <td>{{ entity.customerEmail }}</td>
            </tr>
            <tr>
                <th>Shippingaddress</th>
                <td>{{ entity.shippingAddress }}</td>
            </tr>
            <tr>
                <th>Billingaddress</th>
                <td>{{ entity.billingAddress }}</td>
            </tr>
            <tr>
                <th>Totalamount</th>
                <td>{{ entity.totalAmount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('buyorder') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('buyorder_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
