{% extends 'ApplicationBundle::layout.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<style>
	img.grande{
		display: block;
	    max-width:320px;
	    max-height:150px;
	    width: auto;
	    height: auto;
		}
	</style>
{% endblock %}


{% block container %}
<div class="row">
    {# render categories #}
    <div class="col-md-3">
	    <p class="lead">Ecommerce Symfony2</p>
	    <div class="list-group">
	    	<a href="{{path('application_homepage')}}" class="list-group-item">Todas las categorías</a>
	        {% block category %}
	        	{{ render(controller('EcommerceBundle:Category:widget', {'category':category})) }}
	    	{% endblock %}
	    </div>
	</div>
    <div class="col-md-9">
	    <div class="row carousel-holder">

	        {# CARROUSEL COMENTADO #}
	        <div class="col-md-12">
	            {#<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	                <ol class="carousel-indicators">
	                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	                </ol>
	                <div class="carousel-inner">
	                    <div class="item active">
	                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                    </div>
	                    <div class="item">
	                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                    </div>
	                    <div class="item">
	                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
	                    </div>
	                </div>
	                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	                    <span class="glyphicon glyphicon-chevron-left"></span>
	                </a>
	                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	                    <span class="glyphicon glyphicon-chevron-right"></span>
	                </a>
	            </div>#}
	        </div>

	    </div>

	    <div class="row">
	        {#{{ render(controller('EcommerceBundle:Default:index')) }}#}
	        {% for product in products %}
				<div class="col-sm-4 col-lg-4 col-md-4">
			        <div class="thumbnail">
			            {#<img src="http://placehold.it/320x150" alt="">#}
			            <img class="grande" src="{{ vich_uploader_asset(product, 'productFile') }}" alt="{{ product.name }}" />


			            <div class="caption">
			                <h4 class="pull-right">{{product.price}} €</h4>
			                <h4><a href="{{path('application_show_selected_product',{'id':product.id})}}">
			                        <p>
			                            {% if product.name|length >= 15 %}
			                                {{ product.name|slice(0,15) }}...
			                            {% else %}
			                                {{product.name}}
			                            {% endif %}
			                        </p>    
			                    </a>
			                </h4>
			                <p>
			                	{#<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.#}
			                	{% if product.description|length >= 60 %}
			                        {{ product.description|slice(0,60) }}...
			                    {% else %}
			                    	{{product.description}}
			                    {% endif %}
			                </p>
			                <p><b>{{product.category|capitalize}}</b></p>
			            </div>
			            <div class="ratings">
			                <p class="pull-right">{{product.reviews|length}} reviews</p>
			                <p>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                </p>
			                <p><a href="{{path('application_show_selected_product',{'id':product.id})}}" class="btn btn-primary" role="button">Comprar</a> {#<a href="#" class="btn btn-default" role="button"></a>#}</p>
			            </div>
			        </div>
			    </div>
			{% endfor %}
	        
	        {#
	        <div class="col-sm-4 col-lg-4 col-md-4">
	            <h4><a href="#">Like this template?</a>
	            </h4>
	            <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
	            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
	        </div>
	        #}
	    </div>
    </div>

    <div class="row">
	    <center><ul class="pagination">
	      <li><a href="#">&laquo;</a></li>
	        {% for i in 1..pagesCount %}
	            <li><a href="{{ path('application_homepage', {'page': i}) }}">{{ i }}</a></li>
	        {% endfor %}
	      <li><a href="#">&raquo;</a></li>
	    </ul></center>
	</div>

</div>
{% endblock %}
