{% if is_granted('ROLE_USER') %}
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% if cart is defined %}
	        <li><a href="{{path('cart_show_cart', {'id':cart.id})}}">Ver Carrito</a></li>
    	{% endif %}
      </ul>
  </li>
  {% else %}
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span><span class="caret"></span></a>
      <ul class="dropdown-menu">
      </ul>
  </li> 
{% endif %}
