<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('application_homepage')}}">Ecommerce</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if not is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{path('fos_user_registration_register')}}">Register</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{path('application_faq')}}">Faq</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Backend <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-header">Productos</li>
                          <li><a href="{{path('product')}}">Products</a></li>
                          <li><a href="{{path('productreview')}}">Product Reviews</a></li>
                          <li><a href="{{path('category')}}">Categories</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Compras</li>
                          <li><a href="{{path('cart')}}">Carts</a></li>
                          <li><a href="{{path('cartitem')}}">Cart Items</a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Gestión de Usuarios</li>
                          <li><a href="{{path('user')}}">Usuarios</a></li>
                          <li><a href="{{path('address')}}">Direcciones</a></li>



                        </ul>
                    </li>
                    {% if is_granted('ROLE_USER') %}    
                        {{ render(controller('ApplicationBundle:Application:cart')) }}
                    {% endif %}
                </ul>
            {{ render(controller('FOSUserBundle:Security:login')) }}
            </div>
        
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




