{% extends '::base.html.twig' %}

{% block container %}
    <h1>Cart {{app.user}}</h1>

    <table class="table table-stripped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cart Items</th>
                <td>
                    <table class="table table-stripped">
                    <tr>
                        <th></th>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                    </tr>
                    {% for cartItem in cartItems %}
                    <tr>
                        <td>x</td>
                        <td>{{cartItem.quantity}}</td>
                        <td>{{cartItem.product.name}} ({{cartItem.product.category|capitalize}})</td>
                        <td>{{cartItem.product.price}}</td>
                    <tr>
                    {% endfor %}
                    <tr>
                        <td colspan=3>Total</td>
                        <td>{{total}}</td>
                    </tr>
                    </table>
                </td>
            
            </tr>
            <tr>
                <td colspan=2>
                    <a href="{{path('buyorder_complete',{'cartId':entity.id})}}" class="btn btn-primary">Comprar ya</a>
                    <a href="" class="btn btn-danger">Borrar Carrito</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
