{#{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if not is_granted('ROLE_USER') %}
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}


	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />

	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
{% endif %}

{% endblock fos_user_content %}

#}
{% if not is_granted('ROLE_USER') %}

	<form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right" role="search">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    <div class="form-group">
	        <input type="text" class="form-control" id="username" name="_username" placeholder="Username" value="{{ last_username }}">
	    </div>
	    <div class="form-group">
	        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">
	    </div>
	    <button type="submit" id="_submit" name="_submit" class="btn btn-success">Sign In</button>
	</form>

{% else %}
<ul class="nav navbar-nav">
	<li>
		<a>{{app.user.username}}</a>
	</li>
	<li>
		<a href="{{path('fos_user_security_logout')}}"	>Logout</a>
	</li>
</ul>
{% endif %}
