{{form_start(form)}}
{{form_errors(form)}}
<table class="table table-stripped">
	<thead></thead>
	<tbody>
		<tr>
			<th>Cantidad:</th>
			<td>{{form_widget(form.quantity)}}</td>
		</tr>
		<tr>
			<th></th>
			<td>{{form_widget(form.submit)}}</td>
		</tr>
	</tbody>
</table>
{{form_end(form)}}
