{% if categories %}
    {% for cat in categories %}
    	<a href="{{path('application_homepage', {'category':cat.id})}}" class="list-group-item {% if currentCategory == cat.id %}active{% endif %}" >{{cat.name|capitalize}}</a>
	{% endfor %}
{% endif %}
